*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
}

h4{
    font-size: 8px;
    text-align: center;
}

#main-body{
    float: left;
    width: 65%;
}

#main-body .h2{
    text-align: center;
}

#twitter-feed{
    float: right;
    width: 35%;
    padding-right: 10px;
    box-sizing: border-box;
    
}