*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h2{
    text-align: center;
}

h4{
    font-size: 8px;
    text-align: center;
}

/* navigation styles */

header{
    background:#55d6aa;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 999;
}

.nav-toggle { 
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #55d6aa;
    float: right;
    width: 100%;
    display: none;
    border-bottom: 2px solid black;

}

nav ul {
    margin: o;
    padding: 0;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: blue;
}
.nav-toggle:checked ~ nav{
    display: block;
    
}



nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#name{
    background: #55d6aa;
    float: left;
    padding-left: 45px;
}

#body-div{
    width: 100%;
}

#main-body{
    float: left;
    width: 80%;
}

#main-body .h2{
    text-align: center;
}

#twitter-feed{
    float: right;
    width: 20%;
    box-sizing: border-box;
}

@media screen and (max-width:890px){
    #twitter-feed{
        width: 100%;
        text-align: center;
        padding: 15px;
        white-space: nowrap;
    }

    #main-body{
        float: none;
        width: 100%;
    }
}
